body{
    margin: 0;
    min-width: 400px;
    padding: 10px;
    font-family: cursive;
    background-color: rgb(0, 80, 37);
}
header{
    color: #eede06;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    border:2px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
}

input{
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #5f9341;
}

button{
    font-family: cursive;
    padding: 10px;
    color: #eede06;
    background-color: #5f9341;
    border: 2px solid #ffffff;
    font-weight: bold;
    margin-top: 5px;
    width: 20%;
    border-radius: 10px;
    border: 0px dotted;
    box-shadow: 0 6px 10px rgba(92, 157, 0, 0.35);
    -webkit-filter: drop-shadow(0 5px 15px #0a0a0a0a);
    filter: drop-shadow(0 5px 15px #1e1e1e0a);
    
}
button:hover{
    color: #5f9341;
    background-color: #eede06;
    transition: all 900ms ease;
}

.button{
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    border-top: 4px solid #5f9341;
    width: auto;
    
}

li{
    margin-top: 5px;
}

a{
    color: #eede06;

}
#delete-all{
    color: #5f9341;
    background-color: white;
}
#delete-all:hover{
    color: white;
    background-color: #ff0000;
    transition: all 900ms ease;
}